@use "../../../App.module.scss";

.principal{
    display: flex;
    height: 5em;
    margin: 1em;
    background-color:App.$cinza;
}

.tituloCard{
    font-weight: 600;
}

.quantidade{
    display: flex;
    gap: 1em;
    align-items: center;
}

.quantidadeTexto{
    font-weight: 600;
}

.lixeira, .lixeira:hover{
    height: 14px;
    width: 16px;
    cursor: pointer;
}
